<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NEUROLIFE</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mt-5">
            <h2>Agendamento consulta</h2>
          </div>
          <div class="mt-5">
            <form action="/appointments" method="POST">
              <div class="row">
                <div class="col-md-5 mb-3">
                  <label for="doctor_id" class="form-label">Doutor</label>
                  <select name="doctor_id" class="form-control">
                    <option value="" selected>Select</option>
                    <% obj_doctors.forEach(function(doctor) { %>
                      <option value="<%= doctor.id %>"><%= doctor.first_name %> <%= doctor.last_name %></option>
                    <% }); %>
                  </select>
                </div>
                <div class="col-md-5 mb-3">
                  <label for="patient_id" class="form-label">Paciente</label>
                  <select name="patient_id" class="form-control">
                    <option value="" selected>Select</option>
                    <% obj_patients.forEach(function(patient) { %>
                      <option value="<%= patient.id %>"><%= patient.first_name %> <%= patient.last_name %></option>
                    <% }); %>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 mb-3">
                  <label for="appointment_date" class="form-label">Data da Consulta</label>
                  <input type="date" class="form-control" name="appointment_date" />
                </div>
                <div class="col-md-5 mb-3">
                  <label for="appointment_time" class="form-label">Horário da Consulta</label>
                  <input type="time" class="form-control" name="appointment_time" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 mb-3">
                  <input name="register" class="btn btn-primary" type="submit" value="Cadastrar" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
